<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }}</title>
    <link rel="stylesheet" href="{{ "/style.css" | relURL }}">
    <link rel="icon" type="image/png" href="{{ "/images/headshot.jpg" | relURL }}">
    <!-- GoatCounter Analytics -->
    <script data-goatcounter="https://shibaprasadb.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
    <!-- Umami Analytics -->
    <script defer src="https://cloud.umami.is/script.js" data-website-id="2e67cd5c-f499-4fba-a139-481c5adb30c4"></script>
</head>
<body>
    {{ partial "nav.html" . }}
    {{ block "main" . }}{{ end }}
</body>
</html>
