---
layout: default
title: Blog
---
<div class="container">
    <h2>Posts</h2>
    <ul class="post-list">
      {% for post in site.posts %}
        <li class="post-item">
          <a class="post-title" href="{{ post.url | relative_url }}">{{ post.title }}</a>
          <span class="post-date">{{ post.date | date: "%B %-d, %Y" }}</span>
        </li>
      {% endfor %}
    </ul>
</div>

<div class="container">
    <h2>Categories</h2>
    <ul class="category-list">
      {% assign sorted_tags = site.tags | sort %}
      {% for tag in sorted_tags %}
        <li><a href="{{ '/tags/' | append: tag[0] | relative_url }}">{{ tag[0] }}</a> ({{ tag[1].size }})</li>
      {% endfor %}
    </ul>
</div>
