---
layout: default
title: Blog
---
<div class="blog-container">
  <div class="container">
    <h2>Posts</h2>
    <ul class="post-list">
      {% for post in site.posts %}
        <li class="post-item">
          <a class="post-title" href="{{ post.url | relative_url }}">{{ post.title }}</a>
          <span class="post-date">{{ post.date | date: "%B %-d, %Y" }}</span>
        </li>
      {% endfor %}
    </ul>
  </div>
  <aside class="tag-sidebar">
    <h2>Tags</h2>
    <ul class="tag-list">
      {% assign sorted_tags = site.tags | keys | sort_natural %}
      {% for tag in sorted_tags %}
        <li><a href="/tags/{{ tag | slugify }}/">{{ tag }}</a></li>
      {% endfor %}
    </ul>
  </aside>
</div>
