<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{{ SITENAME }}{% endblock %}</title>
  <link rel="stylesheet" href="{{ SITEURL }}/static/style.css">
</head>
<body>
  <nav>
    <ul>
      <li><a href="{{ SITEURL }}/">Home</a></li>
      <li><a href="{{ SITEURL }}/about.html">About</a></li>
      <li><a href="{{ SITEURL }}/blog.html">Blog</a></li>
      <li><a href="{{ SITEURL }}/publications.html">Publications</a></li>
      <li><a href="{{ SITEURL }}/subscribe.html">Subscribe</a></li>
    </ul>
  </nav>
  {% block content %}{% endblock %}
</body>
</html>
