<nav>
    <a href="{{ SITEURL }}/index.html">Home</a>
    <a href="{{ SITEURL }}/blog.html">Blog</a>
    <a href="{{ SITEURL }}/publications.html">Publications</a>
    <a href="{{ SITEURL }}/about.html">About</a>
    <a href="{{ SITEURL }}/subscribe.html">Subscribe</a>
    <a href="https://www.linkedin.com/in/shibaprasad-bhattacharya/" target="_blank"><img src="{{ SITEURL }}/images/linkedin_logo.png" alt="LinkedIn" class="nav-icon"></a>
    <a href="https://github.com/shibaprasadb" target="_blank"><img src="{{ SITEURL }}/images/github_logo.png" alt="GitHub" class="nav-icon"></a>
</nav>
