<nav>
    <a href="{{ "/" | relURL }}">Home</a>
    <a href="{{ "/blog/" | relURL }}">Blog</a>
    <a href="{{ "/publications/" | relURL }}">Publications</a>
    <a href="{{ "/about/" | relURL }}">About</a>
    <a href="{{ "/subscribe/" | relURL }}">Subscribe</a>
    <a href="https://www.linkedin.com/in/shibaprasad-bhattacharya/" target="_blank"><img src="{{ "/images/linkedin_logo.png" | relURL }}" alt="LinkedIn" class="nav-icon"></a>
    <a href="https://github.com/shibaprasadb" target="_blank"><img src="{{ "/images/github_logo.png" | relURL }}" alt="GitHub" class="nav-icon"></a>
</nav>
