<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ '/style.css' | relative_url }}">
    <link rel="icon" type="image/png" href="{{ '/images/headshot.jpg' | relative_url }}">
    <!-- GoatCounter Analytics -->
    <script data-goatcounter="https://shibaprasadb.goatcounter.com/count"
            async src="//gc.zgo.at/count.js"></script>
    <!-- Umami Analytics -->
    <script defer src="https://cloud.umami.is/script.js" data-website-id="2e67cd5c-f499-4fba-a139-481c5adb30c4"></script>
</head>
<body>
    {% include nav.html %}
    {{ content }}
    <footer class="site-footer">
      <p>© 2025 Shibaprasad Bhattacharya</p>
      <p>
        <a href="https://www.linkedin.com/in/shibaprasad-bhattacharya/" target="_blank">LinkedIn</a> ·
        <a href="https://github.com/shibaprasadb" target="_blank">GitHub</a> ·
        <a href="https://datasignal.substack.com" target="_blank">Substack</a>
      </p>
    </footer>
    <script>
      const toggle = document.getElementById('dark-toggle');
      toggle.addEventListener('click', () => {
        document.body.classList.toggle('dark-mode');
      });
    </script>
</body>
</html>
