---
layout: default
---
<div class="container blog-container">
  <h2>Posts tagged "{{ page.tag }}"</h2>
  {% assign tag_posts = site.tags[page.tag] %}

  <div class="post-list">
    {% for post in tag_posts %}
      <article class="entry post-row">
        <span class="dot" aria-hidden="true"></span>
        <h3 class="title post-row-title">
          <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
        </h3>
        <span class="fill"></span>
        <time class="meta mono post-row-date" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%b %-d, %Y" }}</time>
      </article>
    {% endfor %}
  </div>
</div>
