nav {
  display: flex;
  justify-content: center;
  gap: 1rem;
  background-color: #0056b3;
  height: 50px;
  align-items: center;
  width: 100%;
}

nav a {
  text-decoration: none;
  color: white;
}

nav a:visited {
  color: white;
}
